@use "abstracts/mixins" as *;

.image-text-block {
  &__content {
    display: flex;
    align-items: center;
    gap: var(--spacer-24);
    flex-wrap: wrap;
    width: 100%;

    @include min-breakpoint(tablet) {
      flex-wrap: nowrap;
      gap: var(--spacer-48);
    }
  }

  &__side {
    width: 100%;

    @include min-breakpoint(tablet) {
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
