@use "abstracts/functions" as *;
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.image-text-block {
  &__content {
    display: flex;
    align-items: center;
    gap: $spacer-24;
    flex-wrap: wrap;
    width: 100%;

    @include min-breakpoint(md) {
      flex-wrap: nowrap;
      gap: $spacer-48;
    }
  }

  &__side {
    width: 100%;

    @include min-breakpoint(md) {
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
